 #tabs {
      float:left;
      width:100%;
      background:#e6e6e6;
      font-size:12px;
      border-top:1px solid #a6a6a6;
      FONT-FAMILY:Verdana,ו;
      line-height:normal;
      }
    #tabs ul {
          margin:0;
          padding:10px 10px 0 50px;
          list-style:none;
      }
    #tabs li {
      display:inline;
      margin:0;
      padding:0;
      float:left;
	  position:relative;
	  relative;z-index:1;
      }
    #tabs  li a {
      float:left;
      background:url("../img/tabs/tableftI.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
     
      }
    #tabs  li a span {
      float:left;
      display:block;
      background:url("../img/tabs/tabrightI.gif") no-repeat right top;
      padding:5px 12px 4px 6px;
      color:#017b05;
      
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs  li a span {float:none;}
    /* End IE5-Mac hack */
    #tabs5 a:hover span {
      color:#FBFBFF;
       
      }
   
 
    #tabs  li a:hover {
       background-position:0% -42px;
       color:#FBFBFF;
        
      }
       
      
    #tabs  li a:hover span{
      background-position:100% -42px;
      color:#FBFBFF;
    
      }

      #tabs .current a{
               background-position:0% -42px;
               color:#FBFBFF;
                font-weight:bold;
      }
      #tabs .current a span{
               background-position:100% -42px;
               color:#FBFBFF;
                font-weight:bold;
      }
    
	  
	 #tabs li .submenu{margin:0 auto;padding:0;background:#ECF5FF;color:#FBFBFF;position:absolute;left:0;top:23px;display:none;}
    
     #tabs li .submenu dd {
	  cursor:hand;
	  float:left;
      background:url("../img/tabs/tableftI1.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
	  }

	  #tabs li .submenu dd  span{
	  float:left;
      display:block;
      background:url("../img/tabs/tabrightI1.gif") no-repeat right top;
      padding:5px 12px 4px 6px;
      color:#017b05;
      
	  }

      #tabs li .submenu dd  span{float:none;}

	    #tabs  .submenu dd:hover {
       background-position:0% -42px;
       color:#FBFBFF;
      }
      
       #tabs   .submenu dd:hover span{
      background-position:100% -42px;
      color:#FBFBFF;
      }
      
      
	
	   #tabs li .submenu dt {
	  cursor:hand;
	  float:left;
      background:url("../img/tabs/tableftI2.gif") no-repeat left BOTTOM;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
	  }

	  #tabs li .submenu dt  span{
	  float:left;
      display:block;
      background:url("../img/tabs/tabrightI2.gif") no-repeat right BOTTOM;
      padding:5px 12px 4px 6px;
      color:#017b05;
      
	  }

      #tabs li .submenu dt  span{float:none;}

	    #tabs  .submenu dt:hover {
       background-position:0% -19px;
	   padding:0 0 0 4px;
       color:#FBFBFF;
      }
	
	 #tabs   .submenu dt:hover span{
      background-position:100% -19px;
	  padding:5px 12px 4px 6px;
      color:#FBFBFF;
      
      }
	 
    
      
      
    a {
blr:expression(this.onFocus=this.setAttribute("hideFocus","true"));
 outline:none;
}
    